# DSA_Assignment_05

**Question 1**

Convert 1D Array Into 2D Array

You are given a **0-indexed** 1-dimensional (1D) integer array original, and two integers, m and n. You are tasked with creating a 2-dimensional (2D) array with Â m rows and n columns using **all** the elements from original.

The elements from indices 0 to n - 1 (**inclusive**) of original should form the first row of the constructed 2D array, the elements from indices n to 2 * n - 1 (**inclusive**) should form the second row of the constructed 2D array, and so on.

Return *an* m x n *2D array constructed according to the above procedure, or an empty 2D array if it is impossible*.

**Example 1:**

**Input:** original = [1,2,3,4], m = 2, n = 2

**Output:** [[1,2],[3,4]]

In [2]:
def twodarray(l, cols):
    return [l[i:i + cols] for i in range(0, len(l), cols)]

In [3]:
twodarray([1,2,3,4], 2)

[[1, 2], [3, 4]]

In [4]:
twodarray([2,4,6,7,8,9],3)

[[2, 4, 6], [7, 8, 9]]

Question 2<br>
You have n coins and you want to build a staircase with these coins. The staircase consists of k rows where the ith row has exactly i coins. The last row of the staircase **may be** incomplete.

Given the integer n, return *the number of **complete rows** of the staircase you will build*.

**Example 1:**
    
**Input:** n = 5

**Output:** 2

**Explanation:** Because the 3rd row is incomplete, we return 2.

In [6]:
def staircase(n):
    row = 1
    d = {}

    while row <= n:
        d[row] = row
        n = n-row
        row += 1

    return max(d)

In [7]:
staircase(5)

2

In [8]:
staircase(10)

4

**Question 3**

Given an integer array nums sorted in **non-decreasing** order, return *an array of **the squares of each number** sorted in non-decreasing order*.

**Example 1:**

**Input:** nums = [-4,-1,0,3,10]

**Output:** [0,1,9,16,100]

**Explanation:** After squaring, the array becomes [16,1,0,9,100].

After sorting, it becomes [0,1,9,16,100]

In [10]:
def squre_num(nums):
    result=[]
    for i in nums:
        result.append(i*i)
    return sorted(result)

In [11]:
nums = [-4,-1,0,3,10]
squre_num(nums)

[0, 1, 9, 16, 100]

**Question 4**

Given two **0-indexed** integer arrays nums1 and nums2, return *a list* answer *of size* 2 *where:*

- answer[0] *is a list of all **distinct** integers in* nums1 *which are **not** present in* nums2*.*
- answer[1] *is a list of all **distinct** integers in* nums2 *which are **not** present in* nums1.

**Note** that the integers in the lists may be returned in **any** order.

**Example 1:**

**Input:** nums1 = [1,2,3], nums2 = [2,4,6]

**Output:** [[1,3],[4,6]]

In [13]:
def distinct(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    return [list(set1 - set2), list(set2 - set1)]

In [14]:
distinct([1,2,3], [2,4,6])

[[1, 3], [4, 6]]

**Question 5**

Given two integer arrays arr1 and arr2, and the integer d, *return the distance value between the two arrays*.

The distance value is defined as the number of elements arr1[i] such that there is not any element arr2[j] where |arr1[i]-arr2[j]| <= d.

**Example 1:**

**Input:** arr1 = [4,5,8], arr2 = [10,9,1,8], d = 2

**Output:** 2

In [15]:
def distinctvalue(arr1, arr2, d):
    count = 0

    for num1 in arr1:
        for num2 in arr2:
            if abs(num1 - num2) <= d:
                break
            
        else:
            count += 1

    return count

In [16]:
distinctvalue([4,5,8], [10,9,1,8], 2)

2

**Question 6**

Given an integer array nums of length n where all the integers of nums are in the range [1, n] and each integer appears **once** or **twice**, return *an array of all the integers that appears **twice***.

You must write an algorithm that runs in O(n) time and uses only constant extra space.

**Example 1:**

**Input:** nums = [4,3,2,7,8,2,3,1]

**Output:**

[2,3]

In [2]:
def findDuplicates(nums):
    uniq = set()
    result = []
    
    for num in nums:
        if num in uniq:
            result.append(num)
        else:
            uniq.add(num)
    
    return result

findDuplicates([5,2,2,3,4,3,5,7])

[2, 3, 5]

**Question 7**

Suppose an array of length n sorted in ascending order is **rotated** between 1 and n times. For example, the array nums = [0,1,2,4,5,6,7] might become:

- [4,5,6,7,0,1,2] if it was rotated 4 times.
- [0,1,2,4,5,6,7] if it was rotated 7 times.

Notice that **rotating** an array [a[0], a[1], a[2], ..., a[n-1]] 1 time results in the array [a[n-1], a[0], a[1], a[2], ..., a[n-2]].

Given the sorted rotated array nums of **unique** elements, return *the minimum element of this array*.

You must write an algorithm that runs in O(log n) time.

**Example 1:**

**Input:** nums = [3,4,5,1,2]

**Output:** 1

**Explanation:**

The original array was [1,2,3,4,5] rotated 3 times.

In [7]:
def reverseArray(nums, n):
    for _ in range(n):
        reverse(nums)
    min_val = float('inf')
    for num in nums:
        if num < min_val:
            min_val = num
    return min_val

def reverse(nums):
    left = 0
    right = len(nums) - 1
    while left < right:
        nums[left], nums[right] = nums[right], nums[left]
        left += 1
        right -= 1
        
#output
reverseArray([2,0,8,5,4,9],3)

0

In [8]:
#output
reverseArray([3,4,5,1,2],3)

1

**Question 8**

An integer array original is transformed into a **doubled** array changed by appending **twice the value** of every element in original, and then randomly **shuffling** the resulting array.

Given an array changed, return original *if* changed *is a **doubled** array. If* changed *is not a **doubled** array, return an empty array. The elements in* original *may be returned in **any** order*.

**Example 1:**

**Input:** changed = [1,3,4,2,6,8]

**Output:** [1,3,4]

**Explanation:** One possible original array could be [1,3,4]:

- Twice the value of 1 is 1 * 2 = 2.
- Twice the value of 3 is 3 * 2 = 6.
- Twice the value of 4 is 4 * 2 = 8.

Other original arrays could be [4,3,1] or [3,1,4].

In [9]:
def shuffle(nums):
    result=[]
    for i in nums:
        if i*2 in nums:
            result.append(i)
            nums.remove(i*2)
        else:pass
    return result

In [10]:
shuffle([1,3,4,2,6,8])

[1, 3, 4]